@use "../../../assets/styles/color" as *;

.filter-drawer {
  padding: .5rem;
  width: 50vw;

  .MuiTypography-h6 {
    margin: .5rem 0;
    text-align: center;
    color: $blue-700;
  }

  .collection-select, .year-select, .location-select {
    width: calc(50vw - .5rem);
  }

  .MuiDivider-root {
    margin: 1rem 0;
  }
}