@import "../../assets/styles/color";

.header-container {
  width: 100vw;
  display: flex;
  position: sticky;

  .header-content {
    margin: auto;
    width: 1200px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    .logo-app-name {
      display: flex;

      .app-name {
        margin-left: .5rem;
        font-family: 'Lemon', serif;
        font-size: 36px;
        font-weight: bold;
        color: $blue-a400;
        text-shadow: 0 0 0 rgba($shadow, .25), 0 2px 2px rgba($shadow, .25), 0 4px 4px rgba($shadow, .25);

        span {
          color: $green-a400;
        }
      }
    }

    .header-menu {
      display: flex;

      a {
        margin: auto 0 auto 2rem;
        font-size: 16px;
        font-weight: 600;
        color: $blue-700;
        text-decoration: unset;

        &:hover {
          color: $blue-500;
        }
      }

      .language-select {
        margin: auto 0 auto 2rem;
        font-size: 16px;

        .MuiSelect-select {
          padding: 8px 32px 8px 4px;
        }

        .MuiOutlinedInput-notchedOutline {
          border: unset !important;
        }
      }
    }
  }
}