@import "../../styles/Breakpoint";
@import "../../styles/Color";

.collection-container {

  .add-btn {
    color: $white;
  }

  .collection-table {
    width: calc(100vw - 2rem);
    margin: 1rem;

    .collection-name {
      font-size: 16px;
      font-weight: bold;
      color: $blue-700;
      &:hover {
        color: $blue-500;
        cursor: pointer;
      }
    }
  }
}

#delete-collection-dialog {
  text-align: center;

  .MuiDialog-paper {
    background-color: $white !important;
  }

  .MuiDialogTitle-root {
    font-size: 20px;
    font-weight: 600;
  }

  .MuiDialogActions-root {
    justify-content: center;

    .MuiButton-root {
      width: 100px;
    }
  }
}
