@use "../../assets/styles/breakpoint" as *;
@use "../../assets/styles/color" as *;

.collection-container {
  display: flex;
  flex-direction: column;

  .tag-select {
    margin-right: 1rem;
    min-width: 120px;
    width: fit-content;
    background-color: $white;

    .tag-chip {
      margin: .125rem !important;
    }
  }

  .add-btn {
    color: $white;
  }

  .collection-table {
    width: calc(100vw - 2rem);
    margin: 1rem;

    .collection-name {
      font-size: 16px;
      font-weight: bold;
      color: $blue-700;

      &:hover {
        color: $blue-500;
        cursor: pointer;
      }
    }

    .MuiChip-outlined {
      margin: .3rem .5rem .3rem 0;
      border-color: $blue-700 !important;

      .MuiChip-label {
        padding: 8px;
        font-size: 14px;
      }
    }
  }

  .collection-card-list {
    padding: .5rem 1rem;

    .MuiCard-root {
      margin-bottom: .5rem;
      border-top: 3px solid $green-500;
      &:nth-child(even) {
        border-top: 3px solid $green-900;
      }

      .MuiCardContent-root {
        padding-bottom: 0;

        .collection-title {
          margin-bottom: .5rem;
          font-size: 14px;
          font-weight: 600;
        }

        .collection-name {
          margin-bottom: .5rem;
          font-size: 18px;
          font-weight: 600;
          color: $blue-700;
        }

        .collection-description {
          margin-bottom: .5rem;
          font-size: 14px;
          color: $gray-700;
        }

        .title-wrapper, .date-tag-wrapper {
          display: flex;
          justify-content: space-between;

          .collection-date {
            margin: auto 0;
            font-size: 14px;
            color: $gray-700;
          }

          .collection-tag {
            margin: auto 0;

            .MuiChip-filled {
              margin-left: 4px;
              height: 30px;

              .MuiChip-label {
                padding: 0 8px;
                font-size: 14px;
              }
            }
          }
        }

        .MuiChip-outlined {
          margin: 0 .5rem .5rem 0;
          height: 28px;

          .MuiChip-label {
            padding: 0 8px;
            font-size: 12px;
          }
        }
      }

      .MuiCardActions-root {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .MuiPagination-root {
    margin: 0 auto 1rem;
  }

  .MuiTablePagination-root {
    margin: 0 auto 1rem;
    border-bottom: unset;
  }
}
