@use "../../assets/styles/breakpoint" as *;
@use "../../assets/styles/color" as *;

.audio-btn-wrapper {
  position: fixed !important;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  @include respond(tablet) {
    top: unset;
    bottom: 2rem;
    transform: unset;
  }

  .MuiButton-contained {
    min-width: unset !important;
    color: $blue-500 !important;
    padding: .5rem !important;
    border: none !important;
    border-radius: 50% !important;
    box-shadow: 0 4px 8px $shadow;
    opacity: 0.7;

    :hover {
      color: $blue-400 !important;
      opacity: 1;
    }
  }

  .next-button {
    margin-top: 1rem;
  }
}

