@import "../../assets/styles/color";

.item-container {

  .page-title {
    display: flex;

    .location-title {
      text-decoration: unset;
      font-weight: 400;
      color: white;

      &:hover {
        cursor: pointer;
        opacity: .8;
      }
    }

    .MuiSvgIcon-root {
      margin: auto .5rem;
    }
  }

  .add-btn {
    color: $white;
  }

  .item-list {
    width: calc(100vw - 2rem);
    margin: 1rem;

    .MuiGrid-item {
      display: flex;
      flex-direction: column;

      img {
        margin: auto;
        max-width: 100%;
        border: 1px solid white;
        border-radius: 3%;
        box-shadow: 0 2px 6px 0 $gray-500, 0 4px 8px 0 $gray-300;
        &:hover {
          cursor: pointer;
          transform: scale(1.03);
        }
      }
    }
  }
}
