@import "../../../assets/styles/color";

.item-view-dialog {

  .MuiToolbar-root {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 2px -2px $gray-100;

    .MuiTypography-h6 {
      font-family: 'Signika', sans-serif;
      font-size: 20px;
      font-weight: bold;
    }

    .btn-wrapper {
      display: flex;

      .item-index {
        display: flex;

        .index {
          margin: auto 0;
          font-size: 18px;
        }
      }

      .MuiDivider-root {
        margin: auto 1rem;
        height: 20px;
        border-color: black;
      }

      .MuiIconButton-root {
        margin: auto 0;
        color: black;
      }
    }
  }

  .MuiDialogContent-root {
    display: flex;

    .item-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .loading {
        position: absolute;
      }

      .item {
        position: absolute;
        max-height: 99%;
        max-width: 100%;
        width: auto;
      }
    }
  }
}
