@use "../../../assets/styles/breakpoint" as *;
@use "../../../assets/styles/color" as *;

.map-item-view-dialog {

  .MuiDialog-paper {
    background-color: rgba(0, 0, 0, 0.8) !important;

    .MuiDialogTitle-root {
      color: $white;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;

      .location-place {
        margin: auto 0;
        font-size: 24px;
        font-weight: 600;
        @include respond(tablet) {
          font-size: 20px;
          max-width: 80%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .item-name {
        margin: auto 0;
        font-size: 16px;
        @include respond(tablet) {
          display: none;
        }
      }

      .btn-wrapper {
        display: flex;

        .item-index {
          margin: auto 0;
          @include respond(tablet) {
            display: none;
          }

          .index {
            margin: auto 0;
            font-size: 18px;
          }
        }

        .MuiDivider-root {
          margin: auto 1rem;
          height: 80%;
          border-color: white;
          @include respond(tablet) {
            display: none;
          }
        }

        .MuiIconButton-root {
          margin: auto 0;
          color: white;
        }
      }
    }

    .dialog-body {
      height: calc(100% - 200px);
      display: flex;

      .item-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .item-loading {
          position: absolute;
        }

        .item-chose {
          position: absolute;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }

    .dialog-footer {
      display: flex;
      justify-content: center;

      /* width */
      ::-webkit-scrollbar {
        height: 6px;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: $white;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: $light-blue;
        cursor: pointer;
      }

      .item-list {
        margin-top: .5rem;
        max-width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;

        .MuiButtonBase-root {
          padding-top: 0;
          min-width: unset;

          img, video {
            height: 100px;

            &:hover {
              cursor: pointer;
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}

