@import "../../../styles/Color";

.map-item-view-dialog {

  .MuiDialog-paper {
    background-color: rgba(0, 0, 0, 0.8) !important;

    .MuiDialogTitle-root {
      color: $white;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;

      .location-place {
        margin: auto 1rem;
        font-size: 24px;
        font-weight: 600;
      }

      .item-name {
        margin: auto 0;
        font-size: 16px;
      }

      .btn-wrapper {
        display: flex;

        .item-index {
          margin: auto 0;

          .index {
            margin: auto 0;
            font-size: 18px;
          }
        }

        .MuiDivider-root {
          margin: auto 1rem;
          height: 80%;
          border-color: white;
        }

        .MuiIconButton-root {
          margin: auto 0;
          color: white;
        }
      }
    }

    .dialog-body {
      height: calc(100% - 200px);
      display: flex;

      .item-chose, .img-chose, .video-chose {
        margin: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }

    .dialog-footer {
      display: flex;
      justify-content: center;

      /* width */
      ::-webkit-scrollbar {
        height: 6px;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: $white;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: $light-blue;
        cursor: pointer;
      }

      .item-list {
        margin-top: .5rem;
        max-width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;

        .MuiButtonBase-root {
          padding-top: 0;
          min-width: unset;

          img, video {
            height: 100px;

            &:hover {
              cursor: pointer;
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}

