@import "src/assets/styles/Breakpoint";
@import "src/assets/styles/Color";

.home-container {
  @include respond(tablet) {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  @include respond(phone) {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .sorry-img {
    margin: auto auto .5rem;
    width: 200px;
    @include respond(phone) {
      width: 150px;
    }
  }
  .sorry-text {
    margin: .5rem auto auto;
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    @include respond(phone) {
      font-size: 16px;
    }
  }

  .banner {
    display: flex;
    padding: 1rem;
    height: 80vh;
    background-image: url('https://i.ibb.co/wwFR9V6/homepage-bg.jpg');
    background-size: cover;

    .slogan-button {
      margin: auto;
      display: flex;
      flex-direction: column;

      .slogan {
        color: $blue-a400;
        font-size: 64px;
        text-shadow: 0 0 0 $shadow, 0 4px 6px $shadow, 0 6px 8px white, 0 4px 6px $shadow;
        @include respond(laptop) {
          font-size: 48px;
        }
      }

      .login-btn {
        margin: 2rem auto;
        background-color: $white;
        border: 2px solid $blue-700;
        &:hover {
          background-color: $gray-200;
        }

        .google-icon {
          margin-right: .5rem;
          width: 40px;
          height: 40px;
        }

        .MuiTypography-body1 {
          color: $blue-700;
          font-weight: 600;
        }
      }
    }
  }

  .introduction {
    max-width: 1200px;
    margin: 5rem auto;

    .MuiTypography-h3 {
      margin-bottom: 1rem;
      text-align: center;
      font-family: 'Signika', sans-serif;
      font-weight: 600;
    }

    .introduce-content {
      display: flex;

      .introduce-text {
        margin: auto;
        text-align: justify;
        font-family: 'Signika', sans-serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 34px;
      }
    }
  }

  .quote-wrapper {
    width: 100vw;
    height: 16vw;
    background-image: url('https://i.ibb.co/ph9KCN0/quote-bg.png');
    background-size: 100vw auto;
    background-repeat: no-repeat;
    display: flex;

    .quote {
      margin: 6vw auto auto;
      font-family: 'Rosario', sans-serif;
      font-size: 42px;
      font-weight: 300;
      font-style: italic;
    }
  }

  .feature-list {
    max-width: 1200px;
    margin: 5rem auto;

    .text-wrapper {
      margin: auto 0;

      .MuiTypography-h3 {
        text-align: center;
        font-family: 'Signika', sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 50px;
      }

      .MuiTypography-body1 {
        margin-top: 1rem;
        text-align: justify;
        font-family: 'Signika', sans-serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 34px;
      }
    }

    .img-wrapper {
      display: flex;

      .float-right {
        margin-left: auto;
      }
    }
  }

  .quote-wrapper-2 {
    width: 100vw;
    height: 10vw;
    background-color: $purple-50;
    display: flex;

    .quote {
      margin: auto;
      font-family: 'Rosario', sans-serif;
      font-size: 40px;
      font-weight: 300;
      font-style: italic;
    }
  }

  .contact {
    max-width: 1200px;
    margin: 5rem auto;
    text-align: center;

    .MuiTypography-h3 {
      font-family: 'Signika', sans-serif;
      font-weight: 600;
    }

    .MuiTypography-body1 {
      margin-top: 1rem;
      font-family: 'Signika', sans-serif;
      font-size: 24px;
      font-weight: 300;
    }
  }

  .app-footer {
    max-width: 1200px;
    margin: 0 auto 1rem;
    display: flex;
    justify-content: space-between;

    .left-wrapper {
      display: flex;

      .MuiTypography-body1 {
        margin: auto auto auto .5rem;
        font-family: 'Signika', sans-serif;
        font-weight: 600;
      }
    }

    .right-wrapper {
      display: flex;

      .MuiTypography-body1 {
        margin: auto 1rem auto 0;
        font-family: 'Signika', sans-serif;
        font-weight: 500;
      }

      .MuiTypography-body2 {
        margin: auto 0 auto 1rem;
        color: $blue-700;
        &:hover {
          color: $blue-500;
        }

        a {
          text-decoration: unset;
          font-family: 'Signika', sans-serif;
          font-weight: 500;
        }

        .MuiSvgIcon-root {
          margin-left: 2px;
          font-size: 14px;
        }
      }
    }
  }
}
