@import "../assets/styles/breakpoint";
@import "../assets/styles/color";
@import "../assets/styles/custom-mui";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Lemon&family=Rosario:ital,wght@1,300&family=Signika:wght@300;600&display=swap');

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue-400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $blue-200;
  cursor: pointer;
}

.App {
  @include respond(tablet) {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  @include respond(phone) {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .sorry-img {
    margin: auto auto .5rem;
    width: 200px;
    @include respond(phone) {
      width: 150px;
    }
  }
  .sorry-text {
    margin: .5rem auto auto;
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    @include respond(phone) {
      font-size: 16px;
    }
  }

  .main-container {
    right: 0;
    transition: width ease-in-out 200ms;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
