@use "../assets/styles/breakpoint" as *;
@use "../assets/styles/color" as *;
@use "../assets/styles/custom-mui" as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Lemon&family=Rosario:ital,wght@1,300&family=Signika:wght@300;600&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* width */
::-webkit-scrollbar {
  width: 8px;
  @include respond(tablet) {
    width: 0;
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue-400;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $blue-200;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: $gray-100;
}

.App {
  width: 100vw;
  @include respond(tablet) {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  @include respond(phone) {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .main-container {
    right: 0;
    transition: width ease-in-out 200ms;
  }
}

.session-expired-dialog {
  .MuiDialogActions-root {
    justify-content: center;

    .MuiButton-root {
      width: 200px;
      margin: 0 .5rem;
    }
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
