@use "src/assets/styles/breakpoint" as *;
@use "src/assets/styles/color" as *;

.header-container {
  width: 100vw;
  display: flex;
  position: sticky;

  .header-content {
    margin: auto;
    width: 1200px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    @include respond(tablet) {
      padding: .5rem 1rem;
    }

    .logo-app-name {
      margin: auto 0;
      display: flex;
      text-decoration: unset;

      .app-logo {
        width: 50px;
        height: 50px;
        @include respond(tablet) {
          width: 30px;
          height: 30px;
        }
      }

      .app-name {
        margin-left: .5rem;
        font-family: 'Lemon', serif;
        font-size: 36px;
        font-weight: bold;
        color: $blue-a400;
        text-shadow: 0 0 0 rgba($shadow, .25), 0 2px 2px rgba($shadow, .25), 0 4px 4px rgba($shadow, .25);
        @include respond(tablet) {
          font-size: 24px;
        }

        span {
          color: $green-a400;
        }
      }
    }

    .MuiIconButton-root {
      padding: 12px 0;
    }

    .header-menu {
      display: flex;

      a {
        margin: auto 0 auto 2rem;
        font-size: 16px;
        font-weight: 600;
        color: $blue-700;
        text-decoration: unset;

        &:hover {
          color: $blue-500;
        }
      }

      .language-select {
        margin: auto 0 auto 2rem;
        font-size: 16px;

        .MuiSelect-select {
          padding: 8px 32px 8px 4px;
        }

        .MuiOutlinedInput-notchedOutline {
          border: unset !important;
        }
      }
    }
  }
}

#header-nav-menu {
  .MuiMenu-paper {
    left: 0 !important;
    max-width: 100svw !important;
    width: 100svw !important
  }

  a {
    font-size: 16px;
    color: $blue-700;
    text-decoration: unset;
  }

  li {
    font-weight: 600 !important;
  }

  .MuiInputBase-root {
    margin-left: 1rem;
  }
}