@use "../../assets/styles/color" as *;

#navigation-menu {
  display: flex;
  flex-direction: column;
  height: 100%;

  .menu-header {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;

    .app-name {
      margin: 1rem 0;
      font-family: 'Lemon', serif;
      font-size: 30px;
      font-weight: 500;
      color: $blue-a400;

      .green {
        color: $green-a400;
      }
    }

    .MuiButtonBase-root {
      margin: auto 0;
      height: fit-content;
    }
  }

  .menu-body {
    .Mui-selected {
      color: $white;
      background-color: $blue-500;

      .MuiListItemIcon-root {
        color: $white;
      }
    }
  }

  .menu-footer {
    margin: auto 0 0;
    display: flex;
    flex-direction: column;

    .MuiAvatar-root {
      width: 36px;
      height: 36px;
    }

    .version {
      margin-bottom: 1rem;
      text-align: center;
      font-family: 'Signika', sans-serif;
      font-weight: 300;
    }
  }
}
