@import "../../../assets/styles/color";

.collection-dialog {
  text-align: center;

  .MuiDialog-paper {
    min-width: 600px;
    background-color: $white !important;
  }

  .MuiDialogTitle-root {
    font-size: 20px;
    font-weight: 600;
  }

  .MuiDialogContent-root {

    .MuiTextField-root {
      margin: .5rem 0;
    }
  }

  .MuiDialogActions-root {
    justify-content: center;

    .MuiButton-root {
      width: 120px;
      margin: 0 .5rem;
    }

    .cancel-btn {
      background-color: $gray-500;
      &:hover {
        background-color: $gray-300;
      }
    }
  }
}

#menu-takenYear, #menu-takenMonth, #menu-takenDay {
  .MuiMenu-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    max-height: 200px;
  }
}