@import "../../../assets/styles/color";

.position-dialog {
  text-align: center;

  .MuiDialog-paper {
    background-color: $white !important;
  }

  .MuiDialogTitle-root {
    font-size: 20px;
    font-weight: 600;
  }

  .map-position {
    width: 100%;
    height: 500px;
  }

  .coordinate {
    font-size: 16px;
    font-weight: 500;
    margin: 1rem;
  }

  .MuiFormControl-root {
    margin-bottom: 1rem;
  }

  .MuiButtonBase-root {
    width: 100px;
  }
}
